/* ChatApp.css */

  
  .chat-container {
    display: flex;
    flex-direction: column;
   
    height: 100%;
  }
  
  .chat-box {
    
  min-height: 965px;
    width: 330px;
    background-color: #f2f2f2;
    padding: 10px;
    box-sizing: border-box;
    
  }
  
  .message {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  .Alumni {
    background-color: #3498db;
  }
  
  .Peers {
    background-color: #e74c3c;
  }
  
  .input-container {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  /* New container div for background */
  .input-background {
    background-color: #fff; /* Set the desired background color */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .recipient-select,
  .chat-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
  }
  
  .send-button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #3498db;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: #2980b9;
  }
  